# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ProjecteFinal_JaumePalauSeijas.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\psjau\Documents\DAM\ProjecteFinal_JaumePalauSeijas\.idea\.idea.ProjecteFinal_JaumePalauSeijas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
